section {
    margin-top: 70px;
    margin-bottom: 90px;
}

.fasilitas {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.text-success, .bg-success {
    color: #3674B5 !important;
}

.bg-blue {
    background-color: #3674B5 !important;
}

.btn-blue {
    background-color: #3674B5;
    border-color: #3674B5;
    color: white;
}

.btn-blue:hover {
    background-color: #578FCA;
    border-color: #578FCA;
    color: white;
}


.fasilitas:hover {
    background-color: #578FCA;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.fasilitas .description {
    text-align: right;
    flex: 3 1;
    padding: 10px 20px 10px 10px;
}
.fasilitas .description.icon-left {
    order: 1;
    text-align: left;
}

.fasilitas .icon-des {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #3674B5;
}
.fasilitas:hover .icon-des {
    background: white;
}

.fasilitas .icon-des img {
    margin-top: 15px;
    height: 50px;
    width: 50%;
}

.tentang .deskripsi {
    font-size: 18px;
    line-height: 25px;
}

.icon-mds i {
    margin: auto;
    color: black;
    padding-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.icon-mds i:hover {
    color: #578FCA;
}

.alumni, .berita .card {
    transition: 4ms;
}

.alumni, .berita .card:hover {
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(-10px);
}
.alumni, .berita .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alumni .card .card-body img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #464444;
    color: white;
}

footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li i {
    margin-right: 6px;
}
footer img {
    border-radius: 50%;
}
